/* GLOBAL CLASS */
.page-wrapper {
  margin-bottom: -43px;
}

/* HELPERS CLASS */
.cf::after {
  display: table;
  clear: both;
  content: ""; 
}
.fl {float: left;}
.fr {float: right;}

.fix {
  position: relative;
}

/* SIDEBAR */
.ui-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}

/* SECTION */
.ui-section {
  margin-left: 330px;
}

/* INDENT */
.mb-1 {margin-bottom: 10px !important;}
.mb-2 {margin-bottom: 20px !important;}
.mb-3 {margin-bottom: 30px !important;}
.mb-4 {margin-bottom: 40px !important;}
.mb-6 {margin-bottom: 60px !important;}

/* ALIGN */
.va-m {vertical-align: middle !important;}

/* GRID */
.grid {
  margin-bottom: -2rem;
  margin-left: -2%; 
}
  .grid > .grid_i {
    margin-bottom: 2rem;
    margin-left: 2%; 
  }
  .grid_i {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;    
  }
    .grid_i__1-3 {width: 31.33333%;}
    .grid_i__2-3 {width: 64.66667%;}

/* FORMS */
.ui-form {

}
  .ui-form_el {

  }
    .ui-form_el__block {
      display: block;
      width: 100%;
    }
    .ui-form_el__error {
      border-color: #e91111 !important;      
      box-shadow: 0 0 3px 0 #e91111 !important;
    }

  /* Fieldset */
  .ui-form_fieldset {

  }
    .ui-form_fieldset__bg {
      margin: 0 -15px;
      padding: 25px 15px;
      background-color: #eee;
    }

  /* Legend */
  .ui-form_legend {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    color: #1a1a1a;
  }

  /* Label */
  .ui-form_label {
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    color: #1a1a1a;
  }
    .ui-form_label__radio {
      position: relative;
      padding-left: 20px;
    }
    .ui-form_label__radio:not(:last-child) {margin-right: 10px;}
    .ui-form_label__radio input[type="radio"] {
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
      padding: 0;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .ui-form_label span {
      color: #999;
      font-size: 11px;
      font-weight: 400;
    }

  /* Input text */
  .ui-form_tx {
    height: 35px;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .15);
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* Textarea */
  .ui-form_textarea {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .15);
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  /* Select */
  .ui-form_select {
    height: 35px;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .15);
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ui-form_select:focus {outline: none;}
  .ui-form_select__day {
    width: 20%;
    margin-right: 2%;
  }
  .ui-form_select__month {
    width: 46%;
    margin-right: 2%;
  }
  .ui-form_select__year {
    width: 30%;
  }

  /* Button */
  .ui-form_btn {
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 50px !important;
    height: 50px !important;
    padding: 0 60px !important;
    text-align: center !important;
    text-decoration: none !important;
    color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    background: #14508c !important;
    text-shadow: 0 -2px 2px #000 !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ui-form_btn:active {
    text-shadow: none !important;
  }
  .ui-form_btn__transparent {
    color: #14508c !important;
    border: 1px solid #14508c !important;
    background: #fff !important;
    text-shadow: none !important;
  }

  /* Error */
  .ui-form_error {
    color: #e91111;
    font-size: 11px;
    line-height: 10px;
  }

  /* Avatar upload */
  .ui-form_upload {
    position: relative;
  }
    .ui-form_upload__avatar {
      padding-left: 100px;
    }
    .ui-form_upload_photo {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .ui-form_upload_file {
      font-size: 0;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .ui-form_upload_btn {
      font-size: 12px;
      font-weight: 700;
      line-height: 36px;
      display: inline-block;
      height: 36px;
      margin-bottom: 10px;
      padding: 0 30px;
      text-decoration: none;
      color: #1a1a1a;
      border-radius: 5px;
      background-color: #f8b742;
      text-shadow: 0 1px 1px #fff;
    }
    .ui-form_upload_info {
      font-size: 11px;
      color: #999;
    }

    .ui-upload-file-list {
      list-style: none;
    }
      .ui-upload-file-list li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 13px;
      }
      .ui-upload-file-list li:not(:last-child) {
        margin-right: 10px;
      }
        .ui-upload-file-list li img {
          vertical-align: top;
        }

/* CARD LIST */
.ui-cards {
  display: inline-block;
  width: 50%;
  vertical-align: top;  
}
.ui-cards:last-child {
  margin-left: -1px;
}
  .ui-cards_inner {
    border: 1px solid #ccc;
  }
    .ui-card {

    }
    .ui-card:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    .ui-card__notice {
      padding-top: 20px;
    }
    .ui-cards__connection {

    }
    .ui-cards__connection .ui-cards_inner {
      overflow-y: auto;
    }
      .ui-cards_title {
        font-size: 16px;
        line-height: 18px;
        color: #2772ba;
        padding: 0 0 15px 25px;
      }
      .ui-card_inner {
        position: relative;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 20px 140px 20px 20px;
      }
      .ui-card_type {
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        top: -20px;
        left: 0px;
        height: 20px;
        padding: 0 20px;
        color: #1a1a1a;
        background-color: #eee;
      }
      .ui-card_name {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 10px;
      }
        .ui-card_name a {
          text-decoration: none;
          color: #1a1a1a;
        }
      .ui-card_description {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
        color: #666;
      }
      .ui-card_action {
        line-height: 24px;
        display: inline-block;
        height: 24px;
        padding: 0 15px;
        color: #fff;
        border-radius: 5px;
        background-color: #f8b742;
        font-size: 12px;
        text-decoration: none;
      }
      .ui-card_avatar {
        position: absolute;
        top: 25px;
        right: 30px;
      }

/* DIALOGS */
.ui-dialog {
  position: relative;
  width: 780px;
  padding: 60px 0;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
  .ui-dialog_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

/* PROFILE DIALOG */
.ui-profile {

}
  .ui-profile_header {
    padding: 0 100px;
    text-align: center;
  }
    .ui-profile_avatar {
      margin-bottom: 25px;
    }
    .ui-profile_name {
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 15px;
      color: #1a1a1a;
    }
    .ui-profile_description {
      font-size: 14px;
      line-height: 20px;
      color: #666;
    }
  .ui-profile_hr {
    margin: 40px 0;
  }
  .ui-profile_tx {    
    padding: 0 100px;
    color: #1a1a1a;
  }
    .ui-profile_tx p {
      line-height: 20px !important;
    }
  .owl-carousel__photo {
    margin-bottom: 40px;
    text-align: center;
  }
    .owl-carousel__photo .owl-controls {

    }
      .owl-carousel__photo .owl-controls .owl-buttons {

      }
        .owl-carousel__photo .owl-controls .owl-buttons .owl-prev,
        .owl-carousel__photo .owl-controls .owl-buttons .owl-next {
          position: absolute;
          top: 50%;
          width: 12px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          -webkit-transform: translateY(-50%);
             -moz-transform: translateY(-50%);
                  transform: translateY(-50%);
        }
        .owl-carousel__photo .owl-controls .owl-buttons .owl-prev {
          left: 130px;
          background-image: url(../images/chevron-left.png);
        }
        .owl-carousel__photo .owl-controls .owl-buttons .owl-next {
          right: 130px;
          background-image: url(../images/chevron-right.png);
        }
  .ui-profile_friends {
    margin-bottom: 40px;
    padding: 40px 120px 50px;
    text-align: center;
    background-color: #eee;
  }
    .ui-profile_friends_title {
      font-size: 24px;
      line-height: 18px;
      position: relative;
      display: inline-block;
      margin-bottom: 35px;
      color: #2772ba;
    }
      .ui-profile_friends_count {
        font-size: 11px;
        line-height: 23px;
        position: absolute;
        top: -20px;
        right: -35px;
        height: 23px;
        padding: 0 10px;
        color: #fff;
        border-radius: 10px;
        background-color: #2772ba;
      }
    .ui-profile_friends_avatar {
      margin-bottom: 5px;
    }
    .ui-profile_friends_name {
      font-size: 12px;
      line-height: 18px;      
    }
      .ui-profile_friends_name a {
        color: #1a1a1a;
        text-decoration: none;
      }
    .owl-carousel__friends {

    }
      .owl-carousel__friends .owl-controls {

      }
        .owl-carousel__friends .owl-controls .owl-buttons {

        }
          .owl-carousel__friends .owl-controls .owl-buttons .owl-prev,
          .owl-carousel__friends .owl-controls .owl-buttons .owl-next {
            position: absolute;
            top: 50%;
            width: 12px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                    transform: translateY(-50%);
          }
          .owl-carousel__friends .owl-controls .owl-buttons .owl-prev {
            left: -55px;
            background-image: url(../images/chevron-left.png);
          }
          .owl-carousel__friends .owl-controls .owl-buttons .owl-next {
            right: -55px;
            background-image: url(../images/chevron-right.png);
          }
        .owl-carousel__friends .owl-controls .owl-pagination {
          position: absolute;
          bottom: -35px;
          left: 50%;
          -webkit-transform: translateX(-50%);
             -moz-transform: translateX(-50%);
                  transform: translateX(-50%);         
        }
          .owl-carousel__friends .owl-controls .owl-pagination .owl-page {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 4px;
            border: 1px solid #fff;
            border-radius: 50%;
            background-color: #fff;
          }
          .owl-carousel__friends .owl-controls .owl-pagination .owl-page.active {
            border-color: #9b9b9b;
            background-color: transparent;
          }
  .ui-profile_footer {
    padding: 0 100px;
  }


/* ELEMENTS */

/* Add child */
.ui-add-child {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #14508c;
}
  .ui-add-child img, .ui-add-child span {
    display: inline-block;
    vertical-align: middle;
  }

/* Alert */
.ui-alert {
  position: relative;
  margin-bottom: 20px;
  padding: 12px 15px 12px 37px;
  border-radius: 5px;
  background-color: #bddeee;
}
  .ui-alert::before {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 16px;
    height: 16px;
    content: '';
    background-image: url(../images/i.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-alert p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #31708f;
}

/* Avatars */
.ui-avatar {
  display: inline-block;
  border-radius: 50%;
}
  .ui-avatar img {border-radius: 50%;}

/* Profile button */
.ui-profile-btn {
  font-size: 12px;
  line-height: 35px;
  position: absolute;
  top: 1px;
  right: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  padding: 0 55px;
  text-decoration: none;
  color: #14508c;
  border: 1px solid #14508c;
  border-radius: 5px;
}